* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

body {

    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
    background-color:#F9F9F9;
}

 /* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;

}



.navigation {
    display: flex;
    align-items: center;
    
}

.navigation a {
     padding: 8px 32px;
     border-radius: 40px;
     transition: .1s;
     font-style: normal;
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     color:#262626;
     text-decoration: none;
}

.navigation a:hover {
    background-color: #4CE0D7;
    
}

.navigation img {
    margin-left: 66px;
    cursor: pointer;
    transition: .2s;
}

.navigation img:hover {
    transform: scale(1.2);
}




/* First Section */




.first-section-content {

    background-image: url(./photos/Mask\ group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1272px;
    height: 559px;
    display: flex;
    flex-direction: column;
    gap: 19px 22px;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 73px;
}

.first-section-content span {

    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    color: transparent;

}


.first-section-content h3 {
  
    font-size: 12px;
    font-weight: 700;
    transition: .2s;
}

.first-section-content h1 {
    font-size: 46px;
    font-weight: 400;
    transition: .2s;
}


.first-section-content p {
    max-width: 495px;
    font-size: 20px;
    font-weight: 400;
    transition: .2s;
}


.first-section-content h3:hover,
.first-section-content h1:hover,
.first-section-content p:hover {
    
    transform: scale(1.05);

}

.topics h2 {
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    color:#262626;
    margin-bottom: 48px;
}

.topics-cards {
    display: flex;
    max-width: 1274px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 88px;
}

.topic-card {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 51px;
    padding-bottom: 40px;
    align-items: center;
    width: 204px;
    height: 291px;
    border-radius: 20px;
    gap: 20px;
    box-shadow:0px 6px 6px 0px #0000000D;
    transition: .3s;
}

.topic-card:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #4CE0D7;
}

.topic-card h3 {
    font-weight: 700;
    font-size: 20px;
}

.button {
    background-color:#4CE0D7;
    padding: 10px 40px;
    border-radius: 40px;
}

.button:hover {
    text-decoration: underline;
}

.button a {
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #262626;
}

.fashion {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-top: 52px;
    width: 1204px;
    height: 698px;
}

.fashion-image {
    position: relative;
    height: 360px;
    width: 1204px;
    border-radius: 20px;
    background-image: url(./photos/fashion.png);
    /* overflow: hidden; */
    margin-bottom: 23px;
}

.button-black {
    display: flex;
    width: 234px;
    height: 36px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 23px;
    margin-left: 47px;
    background-color: #262626;
    border-radius: 40px;
}

.button-black a {
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.button-black a:hover {
    text-decoration: underline;
}

.mallory {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.mallory img {
    border-radius: 50%;
    margin-left: 64px;
    margin-right: 15px;
}

.mallory h5 {
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    width: 168px;
    height: 21px;
    padding-right: 49px;
}

.mallory h4 {
    padding-left: 389px;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 21px; */
    color: #F25E5E;
}

.fashion h3 {
    font-weight: 700;
    font-size: 26px;
    color: #262626;
    padding-bottom: 23px;
}

.fashion p {
    font-weight: 400;
    font-size: 16px;
    color: #262626;
    padding-bottom: 40px;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 38px;
}

#read-txt {
    font-weight: 700;
    font-size: 12px;
    color: #4CE0D7;
    text-decoration: none;
    padding-left: 20px;
}

#read-txt:hover {
    text-decoration: underline;
}



