* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: 0;
}

body {

    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}

 /* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;

}



.navigation {
    display: flex;
    align-items: center;
    
}

.navigation a {
     padding: 8px 32px;
     border-radius: 40px;
     transition: .1s;
     font-style: normal;
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 21px;
     color:#262626;
     text-decoration: none;
}

.navigation a:hover {
    background-color: #4CE0D7;
    
}

.navigation img {
    margin-left: 66px;
    cursor: pointer;
    transition: .2s;
}

.navigation img:hover {
    transform: scale(1.2);
}




/* First Section */




.first-section-content {

    background-image: url(./photos/Mask\ group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1272px;
    width: 100%;
    height: 559px;
    display: flex;
    flex-direction: column;
    gap: 19px 22px;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 73px;
}

.first-section-content span {

    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}


.first-section-content h3 {
  
    font-size: 12px;
    font-weight: 700;
    transition: .2s;
}

.first-section-content h1 {
    font-size: 46px;
    font-weight: 400;
    transition: .2s;
}


.first-section-content p {
    max-width: 495px;
    font-size: 20px;
    font-weight: 400;
    transition: .2s;
}


.first-section-content h3:hover,
.first-section-content h1:hover,
.first-section-content p:hover {
    
    transform: scale(1.05);

}




/* Dato */


.topics h2 {
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    color:#262626;
    margin-bottom: 48px;
}

.topics-cards {
    display: flex;
    max-width: 1274px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 88px;
    flex-wrap: wrap;
}

.topic-card {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 51px;
    padding-bottom: 40px;
    align-items: center;
    width: 204px;
    height: 291px;
    border-radius: 20px;
    gap: 20px;
    box-shadow:0px 6px 6px 0px #0000000D;
    transition: .3s;
}

.topic-card:hover {
    transform: scale(1.1);
    border-style: solid;
    border-color: #4CE0D7;
}

.topic-card h3 {
    font-weight: 700;
    font-size: 20px;
}

.line {
    margin-bottom: 52px;
}

.button {
    background-color:#4CE0D7;
    padding: 10px 40px;
    border-radius: 40px;
}

.button:hover {
    text-decoration: underline;
}

.button a {
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #262626;
}

.fashion {
    
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    max-width: 1204px;

}


.fashion-image1 {
    position: relative;
    border-radius: 20px;
    margin-bottom: 23px;
    max-width: 1204px;
    height: 360px;
    width: 100%;
    background-image: url(./photos/fashion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fashion-image1 img {
    border-radius: 20px;
    width: 100%;
    display: none;
    
}


.button-black a {
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: 23px;
    left: 47px;
    color: #FFFFFF;
    background-color: #262626;
    padding: 10px 81px;
    border-radius: 40px;
    text-decoration: none;
}

.button-black a:hover {
    text-decoration: underline;
}

.mallory {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 24px;
    
}

.mallory img {
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 64px;
}

.mallory h5 {
    font-weight: 400;
    font-size: 14px;
    color: #BCBCBC;
    /* width: 168px;
    height: 21px; */
    padding-right: 49px;
}

.mallory h4 {
    padding-left: 389px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #F25E5E;
}

.fashion h3 {
    font-weight: 700;
    font-size: 26px;
    color: #262626;
    padding-bottom: 23px;
    margin-left: 64px;
    
}

.fashion p {
    font-weight: 400;
    font-size: 16px;
    color: #262626;
    padding-bottom: 40px;
    max-width: 800px;
    margin-left: 64px;
}

.read-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 38px;
    margin-left: 64px;
}

#read-txt {
    font-weight: 700;
    font-size: 12px;
    color: #4CE0D7;
    text-decoration: none;
    padding-left: 20px;
}

#read-txt:hover {
    text-decoration: underline;
}


.trending-title {
    margin-top: 97px;
}



.trending-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 55px;
}


.trending-card {
    background-color: white;
    width: max-content;
    padding-bottom: 49px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.trending-card:hover {
    transform: scale(1.1);
}

.trending-image {
    position:relative;

}

.trending-image img {
    border-radius: 20px;
}

.trending-image a {
    font-size: 12px;
    font-weight: 700px;
    color: white;
    background-color: #262626;
    padding: 9.29px 49px;
    border-radius: 40px;
    position: absolute;
    top: 20px;
    left: 34px;
}



.icon-author-name {
    display: flex;
    align-items: center;
    padding-left: 26px;
    padding-top: 23px;
}

.icon-author-name img {
    margin-right: 27px;
    border-radius: 40px;
}

.trending-a {
    display: flex;
    gap: 160px;
}

.trending-a a {
    font-size: 14px;
    font-weight: 400;
    color: #bcbcbc;
}

.trending-txt {
    padding-left: 26px;
    margin-top: 29px;
}

.trending-txt h1 {
    max-width: 420px;
    font-size: 26px;
    font-weight: 700; 
    margin-bottom: 20px; 
}

.trending-txt p {
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
}


.trending-arrow {
    padding-left: 26px;
    margin-top: 33px;
    
}

.trending-arrow a {
    color: #4CE0D7;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
}


.trending-arrow img {
    margin-right: 26px;
}

/* natias section  */


/* footer  */

.footer{
    display: flex;
    flex-direction: column;
    padding-top: 87px;
    padding-bottom: 37px;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
}


.footer-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 77px;
  
}

.footer-a{
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer-a h1 {
    font-weight: 700;
    font-size: 26px;

}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: #bcbcbc;
}

.footer-second{
    margin-top: 34px;
}

.footer-second a{
    color: black;
}


.fashion-cards{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 88px;
    margin-bottom: 69px;

}


.fashion-card{
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-radius: 20px;
    background-color: white;

}


.fashion-image{
    position: relative;
    margin-bottom: -6px;
    max-width: 548px;
    width: 100%;
    height: 367px;
    border-radius: 20px;
    background-image: url(./photos/fashion2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fashion-image a{
    position: absolute;
    padding: 9px 51px;
    top: 25px;
    left: 34px;
    color: white;
    background-color: #262626;
    font-size: 12px;
    font-family: 700;
    border-radius: 40px;
}


.fashion-image img{
    border-radius: 20px;
    display: none;
}



.fashion-text{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    gap: 25px;
}

.fashion-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.fashion-icon img{
    border-radius: 50%;
}

.fashion-p{
    display: flex;
    gap: 130px;
    color: #BCBCBC;
    font-size: 17px;
}

.fashion-text {
    max-width: 450px;
}



.fashion-arrow a{
    display: flex;
    align-items: center;
    gap: 25px;
    color: #4CE0D7;
    font-size: 12px;
    font-weight: 700;
}





